<div class="group rounded-lg border border-gray-300 shadow-lg hover:shadow-xl transition-all duration-300 ease-in-out">
    <!-- Imagen del Producto -->
    <a [routerLink]="['/product', product.id]" class="w-full overflow-hidden rounded-t-lg bg-gray-200">
        <img [src]="product.images[0]" [alt]="product.title"
            class="h-64 w-full object-cover object-center group-hover:scale-105 group-hover:opacity-80 transition-all duration-300 ease-in-out">
    </a>

    <!-- Información del Producto -->
    <div class="flex flex-col space-y-2 p-4 bg-white rounded-b-lg">
        <h3 class="text-sm text-gray-800 font-semibold hover:text-gray-900 transition-colors duration-300">{{
            product.title | uppercase }}</h3>
        <p class="text-lg font-medium text-gray-900 hover:text-orange-500 transition-colors duration-300">{{
            product.price | currency:'$' :'symbol' :'1.3' }}</p>
        <p class="text-sm text-gray-500">{{ product.creationAt | timeAgo }}</p>

        <!-- Botón Añadir al Carrito -->
        <button
            class="text-white bg-gradient-to-r from-blue-500 to-teal-500 font-medium rounded-lg text-sm px-5 py-2.5 w-full hover:from-blue-400 hover:to-teal-400 transition-all duration-300"
            (click)="addToCarHandler()">Add to Cart</button>
    </div>
</div>